*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 320vh;  

}
header div#menu{
    color: whitesmoke;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    font-size: 30px;
    color: whitesmoke;

}
header figure{
    /*border: 1px solid white;*/
    color: whitesmoke;
    /*flex-basis: 20%;*/
    height: 100%;
}
header figure img{
   height: 100%;
}
header form{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
   
}
header form input{
    background-color: whitesmoke;
    padding: 2px;
    padding-left: 8px;
    border-radius: 15px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav#top{
    border: 0px solid whitesmoke;
    color: whitesmoke;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: flex;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
header nav a:hover{
    color: rgb(218, 253, 111);
}
header #carrito{
    color: whitesmoke;
    flex-basis: 10%;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;  
    justify-content: space-around; 
    align-items: center;
}
header #carrito i{
    font-size: 25px;
    color: whitesmoke;
    cursor: pointer;
}
header{
    background-color: black;
    /*flex-basis: 5%;*/
    height: 8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}